
    .box{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


body {
    font-family: Arial, sans-serif;
    background-color: #b7ec89;
}

header {
    background-color: #eb2525;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.banner {
    background-image: url('banner.jpg'); /* Cambia 'banner.jpg' por la ruta de tu imagen de banner */
    background-size: cover;
    color: #e31919;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ee2020;
    color: #f8f8e6;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.destinos {
    background-color: #eecd6c;
    padding: 20px;
    margin-top: 20px;
}

.destinos h2 {
    margin-bottom: 20px;
}

.destinos ul {
    list-style: none;
}

.destinos ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #f02626;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




.avion {
    width: 100px;
    height: 50px;
    position: fixed;
    top: 4%;
    left: -100%;
    transform: translateY(-50%);
    animation: moverAvion 4s linear infinite;
    opacity: 28%;
}

/* Animación del avión */
@keyframes moverAvion {
    0% {
        left: -100px;
    }
    100% {
        left: calc(100% + 100px);
    }
}